$border-color: #ddd;

%clearfix {

  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  }
}

.tablr {
  @extend %clearfix;
  padding: 1.25rem;
  border: 1px solid #888;
  border-radius: 8px;
  font-family: helvetica, arial, sans-serif;

  &,
  * {
    box-sizing: border-box;
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #888;
  }

  th,
  td {
    padding: .55rem;
    border-width: 0;
    border-color: #ddd;
    border-style: solid;
  }

  th {
    vertical-align: bottom;
    border-bottom-width: 2px;
    text-align: left;
  }

  td {
    vertical-align: top;
    border-top-width: 1px;
  }


  &-pagination {
    $button-spacing: .4rem;
    @extend %clearfix;
    margin-top: .7rem;

    button,
    select,
    option {
      cursor: pointer;
    }

    ol,
    button {
      float: left;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0 $button-spacing;
    }

    li {
      display: block;
      float: left;

      &:not(:first-of-type) button {
        margin-left: $button-spacing;
      }
    }

    label {
      float: right;
    }

    select {
      margin: {
        right: .3rem;
        left: .3rem;
      }
    }
  }
}
